<button {{action "launchConfirmDialog"}}>{{text}}</button>
{{#if confirmShown}}
	<div>
		<button {{action "submitConfirm"}}>OK</button>
		<button {{action "cancelConfirm"}}>Cancel</button>
	</div>
{{/if}}