{{!-- {{#if (has-block)}}
	{{yield item.name 1 'hola'}}
{{else}}
	<h1>{{item.name}}</h1>
	<h1>1</h1>
{{/if}} --}}

<button {{action "confirmAction"}}>{{text}}</button>
{{#if isConfirming}}
	<p>esta confirmando...</p>
{{/if}}