.primary {
	background-color: #000;
	color: #fff;
}




.flex-container {
	display: flex;
	flex-direction: row;
}

.flex-container > .image {
	flex: 1;
	padding: 10px;
}

.flex-container > .body {
	flex: 3;
	padding: 10px;
}

body {
	font-size: 16px;    
	line-height: 1.5;
	padding: 10px;
	/*background-color: #7FD8FA;
	color: white;*/
}

.meal-container {
	display: flex;
	flex-direction: row;
}

.simple-card {
	display: flex;
	flex-direction: column;
	margin: 10px;
	box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.61);
	padding: 10px;
	border-radius: 8px;
}

.old {
	background-color: #EBEBEB;
}