{{link-to 'meals' 'carrot.index'}}

<h1>PUT/PATCH - UPDATE Meal</h1>
{{input type="text" value=model.name}} 
<button {{action 'updateMeal' model on="click"}}>Update</button>

{{confirm-button
	text="hola"
	onConfirm=(action 'otraAccion')
}}