<div>
	{{link-to 'cerrar sesión' 'login'}}

	<br>
	<br>
	<br>

	<h3>MEAL</h3>

	

	<h3>POST - CREATE Meals</h3>
	<form {{action 'createMeal' on="submit"}}>
		{{input type="text" value=newMeal}} <button>Add</button>
	</form>

	<h3>GET - READ Meals</h3>
	<div>
		{{#each model as |meal|}}
			{{#link-to 'carrot.detail' meal.id}}
				{{simple-card title=meal.name isOld=(if meal.id false)}}
				{{!-- {{#other-card stuff=meal as |title|}}
					<p>{{title}}</p>
				{{/other-card}}	 --}}
				{{!-- {{#confirm-button item=meal as |mealName number saludo|}}
					<p>{{mealName}}</p>
					<p>{{number}}</p>
					<p>{{saludo}}</p>
				{{/confirm-button}}

				{{confirm-button}}

				{{#trigger-action 
					onCall=(action "uselessAction" meal.name) as |text|
				}}
					{{input value=text}}
				{{/trigger-action}} --}}
			{{/link-to}} 
		{{/each}}

	</div>

	<button class="btn btn-floating btn-large waves-effect waves-light">
		<i class="material-icons">exit_to_app</i>
	</button>

</div>