<h1>Give my llama a name</h1>

<div class="flex-container">
	<div class="image">
		<img src="http://www.sandipointe.com/im/pajamas/llamas-in-pajamas-4.jpg">
	</div>

	<div class="body">
		<div>
			<p>I need a name for this llama in pijamas</p>
			<button {{action "nameALlama" on="click"}}>NAME IT</button>
		</div>
		<div>
			<h2>The name of this llama in pijamas is <i>{{newName}}</i></h2>
		</div>
	</div>
</div>

<h3>End of template</h3>