{{link-to 'log-out' 'login'}}

<h1>Lucky days</h1>
<ul>
	{{#each weekDays as |weekDay|}}
		{{#if weekDay.number}}
			<li>{{weekDay.number}} - {{weekDay.day}}</li>
		{{/if}}
	{{else}}
		<h1>no hay</h1>
	{{/each}}
</ul>

{{input type="text" value=newDay}}
<button {{action 'addDay' on="click"}}>Add new day</button>

<br>
<br>

<h3>My lucky day:</h3>
<button {{action 'myLuckyDay' on='click'}}>Calculate</button>
{{luckyDay}}

<br>
<br>
<br>
<br>

<h1>Twitter</h1>

<form {{action 'addTweet' on='submit'}}>
	<p>{{input type="text" value=newTweet}} <button>Send</button></p>
</form>

{{#each tweets as |tweet|}}
	<p>{{tweet.user}}</p>
	<p>{{input type='text' value=tweet.description}} <button {{action 'deleteTweet' tweet on='click'}}>x</button></p>
{{else}}
	<p>Esta cuenta no ha publicado</p>
{{/each}}

<br>
<br>
<br>
<br>

