<h1>HOLA MUNDO</h1>

{{!-- {{#if errorMessage}}
	{{errorMessage}}
{{/if}}

<form {{action 'authenticate' on='submit'}}>
	<p>User: {{input type="username" value=user}}</p>
	<p>Password: {{input type="password" value=password}}</p>
	<button>login</button>
</form> --}}

{{#jquery-wrapper
	query='input.autocomplete'
	method='autocomplete'
	options=variable
}}
	
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Autocomplete</label>
        </div>
      </div>
    </div>
  </div>
        
{{/jquery-wrapper}}

<form {{action 'authenticate' on='submit'}}>
	<p>User: {{input type="user" value=user}}</p>
	<p>Password: {{input type="password" value=password}}</p>
	<button>login</button>
</form>

{{trigger-action
	text="esta es una accion del login"
	onCall=(action "useless2")
}}

<br>
<br>
<br>
<br>

{{link-to "Ir a lab" 'lab'}}

<br>
<br>

{{#link-to 'example'}}
	<p>Ir a llamas in pajamas</p>
{{/link-to}}

<br>
<br>

{{link-to "CARROT APP" 'carrot'}}